<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diorder</title>
    <style>
    body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            margin: 0;
            background-color: cornsilk;
        }
      
        /* Header/Logo Title */
        .header {
            padding: 60px;
            text-align: center;
            color: white;
            font-size: 120px;
        }
        
        /* Page Content */
        .content {
            background: #1abc9c;
            font-size: 30px;
            padding:20px;
            text-align: center;
            color: rgba(255, 255, 255, 0.767);

        }
    </style>
</head>
<body>
    <div class="content">
        <h1 class="header">diorder app</h1>
        <p >merupakan layanan belanja online yang menyediakan berbagai barang dengan update secara real time </p>
        <p>temukan apapun disini </p>
    </div>
    <hr>
    <div>
        <h2> silahkan <a href="login">login</a> terlebih dahulu</h2>
        <h2> atau bisa <a href="main">masuk tanpa login</a></h2>
    </div>
</body>
</html>